{% extends "../templates/layout.twig" %}
{% block auth %}
    <div data-c-grid="gutter middle">
        <div data-c-grid-item="tp(1of2)" data-c-align="base(center) tp(left)">
            <p data-c-font-size="h4" data-c-font-weight="bold">2-factor Status:
                <span data-c-color="stop">OFF</span>
            </p>
        </div>
        <div data-c-grid-item="tp(1of2)" data-c-align="base(center) tp(right)">
            <button data-c-button="outline(c1)" data-c-radius="rounded" data-c-dialog-id="example-dialog-01" data-c-dialog-action="open" type="button">
                Turn 2-factor On
            </button>
        </div>
    </div>
    <div data-c-dialog-overlay="active"></div>
    <div aria-hidden="false" aria-describedby="example-dialog-01-description" aria-labelledby="example-dialog-01-title" data-c-dialog="active--contained" data-c-dialog-id="example-dialog-01" data-c-padding="top(double) bottom(double)" role="dialog">
        <div data-c-background="white(100)" data-c-radius="rounded">
            <div data-c-padding="tb(normal) right(triple) left(normal)" data-c-border="bottom(thin, solid, black)" data-c-background="c1(100)">
                <h5 data-c-font-size="h4" id="example-dialog-01-title" data-c-dialog-focus data-c-color="white">
                    Turn 2-factor Authentication On
                </h5>
            </div>
            <div data-c-border="bottom(thin, solid, black)" data-c-padding="normal">
                <div id="example-dialog-01-description">
                    <p data-c-margin="bottom(normal)">Please enter the one-time password shown on your application:</p>
                    <div data-c-input="number">
                        <label for="NUM2">One-time Password</label>
                        <span>Required</span>
                        <div>
                            <input id="NUM2" placeholder="0" required type="number" value="123456"/>
                        </div>
                        <span>This input has an error.</span>
                    </div>
                </div>
            </div>
            <!-- The following dialog actions can be customized depending on the dialog. -->
            <div data-c-padding="normal">
                <div data-c-grid="gutter middle">
                    <div data-c-grid-item="base(1of1)" data-c-alignment="base(right)">
                        <a data-c-button="solid(go)" data-c-radius="rounded" title="" href="$URL/auth-on/#auth">
                            Submit
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
